.row{   

    background-color:#D7DBF9;
    color:white;
    font-size:20px;
    display: flex;
    justify-content: space-around;
}

.mid{
    background-color:#D7DBF9;
    color:black;
    align-items:center;
    font-size:50px;
    margin-top:5px;
    margin-bottom:5px;
}
.aboutme{
    border:1px white;   
}

h1 {
    text-align: center;
    color:white;
}

body {
    background: #D7DBF9;
       font-family: 'Oswald', sans-serif;
}
.headshot {
    width: 460px;
    height: 300px;
    alignment-baseline: central;
}

p {
    font-size: 25px;
    color: white; 
    font-family: 'Oswald', sans-serif;
}

a {
    display: flex;
    justify-content:space-around;
}

.rowcontact {
    display: flex;
    justify-content:space-around;
    padding:30px;
}